/target/

.vscode

.project

.settings/org.eclipse.jdt.core.prefs

.settings/org.eclipse.m2e.core.prefs

dependency-reduced-pom.xml

.classpath

vscode/out/

package-lock.json

vscode/node_modules

vscode/goblintanalyzer-0.0.1.vsix

vscode/goblintanalyzer-1.0-SNAPSHOT.jar
